@import '../theme/variables';
@import '../theme/typography';

body {
  background-color: $color-dark-gray;
  font-family: 'Open Sans', 'Helvetica-Light', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 , h5, h6 {
  font-family: 'Open Sans Bold', 'Helvetica-Light', Helvetica, Arial, sans-serif;
}

p, span {
  font-family: 'Open Sans Light', 'Helvetica-Light', Helvetica, Arial, sans-serif;
}

.App {
  color: $color-white;

  .header {
    overflow: auto;
    padding: 15px;

    img {
      float: left;
      height: 70px;
      margin-right: 1em;
    }
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.15;
  }
}
